# Database Configuration
DB_HOST=dpg-d6hdi6pr0fns73862hpg-a
DB_PORT=5432
DB_NAME=chanmolika_leak
DB_USER=chanmolika_leak_user
DB_PASSWORD=70rvSzgAgkUv4SMcMoJe2DPfBe61VRfl
DB_SSL=false
External Database URL = postgresql://chanmolika_leak_user:70rvSzgAgkUv4SMcMoJe2DPfBe61VRfl@dpg-d6hdi6pr0fns73862hpg-a.singapore-postgres.render.com/chanmolika_leak
Internal Database URL = postgresql://chanmolika_leak_user:70rvSzgAgkUv4SMcMoJe2DPfBe61VRfl@dpg-d6hdi6pr0fns73862hpg-a/chanmolika_leak
PSQL Command = PGPASSWORD=70rvSzgAgkUv4SMcMoJe2DPfBe61VRfl psql -h dpg-d6hdi6pr0fns73862hpg-a.singapore-postgres.render.com -U chanmolika_leak_user chanmolika_leak
# Server Configuration
PORT=3000
NODE_ENV=production